body {
    background-color: hsl(0, 0%, 8%);
    color: antiquewhite;
    font-family: 'Inter';
}

* {
    padding: 0;
    margin: 0;
}
main {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 95vh;
}

.profile {
    background-color: hsl(0, 0%, 12%);
    border-radius: 15px;
    padding: 50px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    width: 75px;
}

.userName {
    font-size: 30px;
    margin-top: 20px;
    font-weight: 700;
}

.adress {
    color: hsl(75, 94%, 57%);
    font-size: 15px;
    margin-top: 8px;
    font-weight: 600;
}

.intro {
    margin-top: 8px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 20px;
}

.thisWay {
    color: antiquewhite;
    text-decoration: none;
    background-color: hsl(0, 0%, 20%);
    display: block;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 18px;
}

.thisWay:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
}
.attribution { 
    font-size: 11px; text-align: center; }

.attribution a { 
    color: hsl(75, 94%, 57%); }
